body {
    font-family: 'PT Mono', monospace !important;
}


h1 {
    font-size: 70px;
}

.test {
    margin-top: 2rem !important;
}
.selfie {
 margin: auto;
}


@media (max-width: 767px) {
    .selfie {
        margin: auto;
        display: block;
        height: 60%;
        width: 60%;
    }
    .content {
        margin-top: 100px;
    }
}
body {
    font-family: 'PT Mono', monospace;
}
