body {
    font-family: 'PT Mono', monospace !important;
    overflow-x: hidden;
}

h1 {
    font-size: 70px;
}


.selfie {
    margin: auto;
}

#skills {
    width: 70%;
    margin: auto;
}

@media (max-width: 767px) {
    .selfie {
        margin: auto;
        display: block;
        height: 60%;
        width: 60%;
    }
    .content {
        margin-top: 100px;
    }
}

@media (max-width: 540px) {
    body {
        font-size: .8rem;
    }
    h1 {
        font-size: 40px;
    }
}